.large-theme {
  font-size: 250%
}

.logged-in {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas: 
    "header header header header"
    "user-info main main close-comments"
    /* "user-info main main post-comments" */
    "user-info main main post-comments";
  grid-template-columns: 300px 1fr;
  grid-template-rows: 80px 1fr;
  row-gap: 10px;
  column-gap: 15px;
  font: Varela Round;
  overflow: hidden;
}

.login-page {
  padding: 200px;
  font: Amatic SC;
}

.login-page #user-info {
  display: none;
}

  
nav {
  grid-area: header;
  background-color: whitesmoke;
}

nav .btn {
  background-color: lightpink;
}

#login-form .btn {
  background-color: lightpink;
}

main {
  /* font: overpass; */
  grid-area: main;
  padding: 10px;
  align: center
  /* border: 2px solid blue; */
}

post-comments {
  grid-area: post-comments;
  /* grid-template-columns: 1fr fit-content(20%) */
}

#user-info {
  grid-area: user-info;
  padding: 10px;
  /* text-align: center; */
  /* border: 2px solid green; */
  background-color: whitesmoke;
  border-color: whitesmoke;
}

close-comments {
  grid-area: close-comments;
  /* padding: 10px; */
  /* border: 2px solid green; */
}

.container {
  padding: 1rem;
  width: stretch;
  height: auto;
  display: none;
  /* background: #515DA2; */
  /* opacity: .8; */
}


.btn {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 2px solid rgb(252, 251, 251);
  color: white;
  /* border-radius: 10px; */
}

.edit  {
  /* background-color: rgb(181, 60, 192); */
  color: black; 
  box-shadow: 0 0px 0px 0 ;
}

.edit:hover {
  background-color: lightpink;
}

.delete {
  color: black; 
  box-shadow: 0 0px 0px 0 ;
}

.delete:hover {
  background-color: red;
}

#new-post-btn {
  background-color: lightpink;
  /* text-color: black; */
  /* width: 100%; */
  align: cneter;
}

#new-post-btn:hover {
  background-color: grey;
}

.dropdown-toggle {
  background-color: lightpink;
}

#post-form .btn {
  background-color: lightpink;
}

#post-form .btn:hover {
  background-color: grey;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  /* transform: scale(.8); */
  text-align: center;
  /* background-color: #f1f1f1; */
}
.col {
  transform: scale(.95);
}
.col:hover{
  transform: scale(1.00);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

#posts {
  height: 85vh;
  /* width: 50vw; */
  overflow-y: scroll;
}

.view-comments {
  background-color: rgb(255, 210, 217);
  color: grey;
}

.post-with-comments {
  height: 90vh;
  max-width: 300px;
  overflow-y: scroll;
}

.comments {
  color: lightpink;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 65px;
}

.close-comments {
  color: rgb(228, 96, 96);
  margin-top: 10px;
  text-align: center;
  /* background-color: white; */
  /* border-color: whitesmoke; */
}

.comments .card {
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  padding: 0px;
  margin-top: 6px;
}

.comments .card .card-text {
  color: rgb(228, 96, 96);
}

.large-button-text {
  font-size: 40px;
}


.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}